@import './base.css';

body {
  margin: auto;
  display: flex;
  padding-left: 5em;
  padding-right: 5em;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at bottom left, #2e3b56 0%, #2f234d 40%, #1f1a3d 100%);
  max-height: 100vh;
}

body::before,
body::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
}

body::before {
  width: 300px;
  height: 300px;
  background: #34d399;
  bottom: -100px;
  left: -100px;
}

body::after {
  width: 200px;
  height: 250px;
  background: #cda74e;
  top: -100px;
  left: 100px;
}
